.zoom-title{
    color:#667085;
    text-align: center;
margin-bottom: 15px;

}
.zoom__wrapp{

    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    /* flex-direction: c; */
    /* justify-content: center; */
    justify-content: space-between;
    border-radius: 15px;
    gap: 100px;
    /* max-width: 950px; */
}
.zoom__wrapp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}